<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <img
      alt="Vector1182"
      src="public/external/vector1182-pmga.svg"
      class="component-vector"
    />
    <img
      alt="Vector1183"
      src="public/external/vector1183-d08a.svg"
      class="component-vector1"
    />
    <img
      alt="Vector1184"
      src="public/external/vector1184-9zo7.svg"
      class="component-vector2"
    />
    <img
      alt="Vector1185"
      src="public/external/vector1185-gl6u.svg"
      class="component-vector3"
    />
    <img
      alt="Vector1186"
      src="public/external/vector1186-3csd.svg"
      class="component-vector4"
    />
  </div>
</div>
